<h3>PRODUCTOS: </h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">IMG</th>
            <th scope="col">REFERENCIA</th>
            <th scope="col">MARCA</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">PRECIO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="..." class="rounded float-left" alt="..."></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>

            <td><img src="..." class="rounded float-left" alt="..."></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="..." class="rounded float-left" alt="..."></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>