<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" routerLink="/"><img src="https://scontent.feoh6-1.fna.fbcdn.net/v/t39.30808-6/302127132_440659551416243_6563370259910444948_n.png?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHyu6yBYjyaUjNYNvnXxR_yoixZ929R1lOiLFn3b1HWUylJgPV62zSV_e-xHNDVKPo&_nc_ohc=EgUtw3TQzD8Q7kNvgHjD4V-&_nc_ht=scontent.feoh6-1.fna&oh=00_AYBVOJil06-X67cLgbNhuxdzeIYGKVrDWaz1DDdzRQWCeQ&oe=66476C43"
            width="150" height="70" class="d-inline-block align-top" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" routerLink="/list-productos" routerLinkActive="active">
      <span class="navbar-toggler-icon"></span>  
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16"routerlink="list-productos">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                  </svg></a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" routerLink="/Contact" routerLinkActive="active">Contact</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" routerlink="registro">Registro</a>

            </div>
        </nav>
        <DIV class="container">
            <form class="form-inline my-2 my-lg-0">

                <input class="form-control mr-sm-2" type="search" placeholder="🔎" aria-label="Search">

            </form>

        </DIV>
        <a href="https://wa.me/573163486716"><img src="F:\Documentos de juan\PROYECTOPROSYSUPB\Prosys\src\assets\img\whatsapp.png"></a>

    </div>

</nav>