<a class="navbar-brand" href="#" routerLink="/">
    <img src="https://scontent.feoh6-1.fna.fbcdn.net/v/t39.30808-6/300883612_440659554749576_8140077720598763673_n.png?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGOSEnD0Z3O5PWxV9G7FJA3IIFV8VCmJpcggVXxUKYml3DHAFStyrV8QFLi7TnMDHs&_nc_ohc=NfqqGF7yzmMQ7kNvgFdDUVb&_nc_ht=scontent.feoh6-1.fna&oh=00_AYDeejaT94G4SmjsJbHzvKJM5vnfm84XLIjQqWatXrmwBw&oe=66489DE8"
        width="50" height="50" class="rounded-circle" alt=""></a>


<div class="container">

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-05">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-05">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-danger">Ingresa</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-05">
            <button routerLink="/crear" type="submit" class="btn btn-danger" routerLink="ingreso">Registrate</button>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <p routerLink="/olvido" class="text-danger" routerLink="olvido">Olvido contraseña </p>

            </a>
        </li>

    </div>
</div>