<!-- <nav class="navbar navbar-expand-md navbar-dark nav-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/my-projects" routerLinkActive="active">Mis Proyectos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/create-project"
          routerLinkActive="active"
          >Subir Proyecto</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Maestros
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/master/program" class="dropdown-item"> Programas </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/master/topic" class="dropdown-item"> Materias </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/master/user" class="dropdown-item"> Usuarios </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/master/assign-evaluator" class="dropdown-item">
            Asignar evaluadores a proyectos
          </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/master/project-gestion" class="dropdown-item">
            Gestión de proyectos
          </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/master/rubrics-categories-list" class="dropdown-item">
            Rubricas por Categorias
          </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link " routerLink="/login" routerLinkActive="active">Ingresar</a
          >
        </li>
    </ul>
    <div
      class="dropdown \"
      dropdown
    >
      <img src="./assets/user.png"/>
      <a class="dropdown-toggle text-light ml-2" dropdownToggle
        >Bienvenido(a) </a
      >
      <div class="dropdown-menu mt-3 padding10" *dropdownMenu>
        <div class="dropown-item" routerLink="/change-password">
          Cambiar contraseña
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropown-item" routerLink="/errors-report">
          Reportar un error
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropown-item">Salir</div>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0"></form>
  </div>
</nav> -->